body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg , #000066 , #0000cc );
}
.head{
  font-family: Fascinate Inline;
  background-image: linear-gradient(180deg, #fff, #87f1ff);
  font-weight: 400;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  filter: drop-shadow(2px 2px #0085a3);
  font-size: 70px;
  text-align: center;
  margin: 20px;
}
.footer{
  margin-top: 150px;
}
.fixed-bottom {
position: static;
text-align: center; 
background-color: rgba(f, f, f, 0.1); /* Black w/opacity/see-through */
}
.footer{
color: white;
}